.product-card {
  width: 14rem;
  height: 28rem;
  color: var(--color-dark);
  border: 1px solid var(#eeeeee);
  border-radius: 0;
  margin-right: 2px;
  margin-bottom: 10px;
}

.product-card > .card-header {
  background-color: var(--color-light);
}

.rating-star {
  margin-right: -5px;
  font-size: x-large;
}
.card-header {
  background-color: var(--color-light);
}
.brand-logo {
  float: right;
  margin-top: 4px;
  height: fit-content;
  width: fit-content;
}

.bottom-card {
  position: absolute;
  bottom: 2px;
}

.button-cart {
  background-color: var(--color-accent);
  border: 1px solid var(--color-dark);
}

.out-of-stock {
  margin-top: 0px;
}

/* Overirde of bootstrap class */

.btn-primary:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  filter: brightness(1.2);
}
.btn-primary:active {
  background-color: var(--color-accent) !important;
  border-color: var(--color-accent) !important;
  filter: brightness(1) !important;
}

.btn-primary:focus {
  background-color: var(--color-accent);
}
.card-title {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-weight: 600;
}

.card-subtitle {
  font-size: smaller;
}
