body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg: #fff;
  --bg-dull: #f3f6f9;
  --color-light: #c9a0dc;
  --color-dark: #190061;
  --color-accent: #7851a9;
  --color-logo: #ff8b2b;
  --color-error: #c40000;
  --nav-size: 50px;
  --nav-text-color: #dadce1;
  --border-radius: 3px;
  --speed: 500ms;
  --border: 1px solid var(--color-accent);
  --body-height: 900px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--nav-text-color);
  text-decoration: none;
}

input {
  border: 1px solid var(--color-light);
}

.all-dropdown {
  width: 100%;
  color: var(--bg);
  background-color: var(--color-accent);
  padding: 8px;
  border: none;
  cursor: pointer;
}
